<section class="title">
    <a href="/" class="homelink">
        {# <svg>
            <use xlink:href="/img/brain.svg#brain"></use>
        </svg> #}
        <h1>{{ metadata.title }}</h1>
    </a>


    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <nav>
        <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
    </nav>

</section>