/* Defaults - solarized */
:root {
	--base03: #002b36;
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0: #839496;
	--base1: #93a1a1;
	--base2: #eee8d5;
	--base3: #fdf6e3;
	--yellow: #b58900;
	--orange: #cb4b16;
	--red: #d30102;
	--magenta: #d33682;
	--violet: #6c71c4;
	--blue: #268bd2;
	--cyan: #2aa198;
	--green: #859900;
}

:root {
	--font-family: "Poppins", sans-serif;
	--font-family-monospace: Consolas, Courier New, Courier, monospace;

	--background-grad-dark: var(--base2);
	--background-grad-light: var(--base3);
	--page-color: var(--base2);
	
	--heading-color: var(--base02);

	--header-color: var(--violet);
	--header-color-hover: var(--magenta);

	--text-color: var(--base03);
	--text-color-link: var(--violet);
	--text-color-link-active: var(--magenta);

	--nav-color: var(--violet);
	--nav-color-hover: var(--magenta);
	--nav-color-current: var(--magenta);

	--social-color: var(--violet);
	--social-color-hover: var(--magenta);

	--tablerow-backround-alt: var(--base3);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-grad-dark: var(--base02);
		--background-grad-light: var(--base03);
		--page-color: var(--base02);
		
		--heading-color: var(--base2);

		--header-color: var(--yellow);
		--header-color-hover: var(--magenta);

		--text-color: var(--base1);
		--text-color-link: var(--yellow);
		--text-color-link-active: var(--magenta);

		--nav-color: var(--yellow);
		--nav-color-hover: var(--magenta);
		--nav-color-current: var(--magenta);

		--social-color: var(--yellow);
		--social-color-hover: var(--magenta);

		--tablerow-backround-alt: var(--base03);;
	}
}