---
pagination:
  data: topicdata
  size: 1
  alias: topic
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Topic “{{ topic }}”
permalink: /topics/{{ topic | slugify }}
---
{% set topicData = topicdata[topic] %}
<h2>{{ topicData.title }}</h2>
<p>{{ topicData.description }}</p>

{% set postslist = collections.posts | filterPostsByTopic(topic) %} 
{% include "postslist.njk" %}
